a[title] {
  color: rgb(255, 71, 172);
}

a[href="#"] {
  color: rgb(0, 255, 0);
}

a[href^="www"] {
  color: rgb(56, 220, 241);
}

a[href$="example"] {
  color: peru;
}
a[href*="com"] {
  font-size: 20px;
}